<section id="clustering">

    <div class="content-section-b">

        <div class="container">

<!-- Intro Clustering -->
            <div class="row">
                <div class="col-lg-12">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Clustering</h2>
                    <div class="lead">
                        We employ clustering with our word groups in an attempt to naturally extract underlying archetypes - these would be characterized by sets of groupwords. Clustering was conducted for variable amounts of clusters - we will focus on the 5 cluster case. In the figure below we see the results of each cluster where a score further from zero (more green) indicates that this feature is more important for defining its respective cluster row. 
                    </div>
                </div>
            </div>

<!-- Visual 5 Clusters -->

            <div class="row">  
                <div class="col-lg-12">
                    <figure>
                        <img src="img/5_clusters_vector.png" alt="" style="width:50%">
                        <figcaption align = "center"><b>Figure 15</b></figcaption>
                    </figure> 
                </div>
            </div>

<!-- Observation Clusters -->

            <div class="row">
                <div class="col-sm-12">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h4 class="section-heading">Observations</h4>
                    <li>Cluster 0 is composed of high scores in negotiation, white collar job, occupation, law, wealthy, banking, economics, and business, work, and government. We will refer to this as the ‘business’ cluster.</li>
                    <li>Cluster 1 is composed of zero high scores! we will refer to it as the ‘ambiguous’ cluster.</li>
                    <li>Cluster 2 is composed of high scores in children, home, family, royalty, wedding, domestic work, celebration, death. These are largely associated with a happy home, family, and important events. We will refer to it as the ‘Life & Community’ cluster.</li>
                    <li>Cluster 3 is composed of high scores in feminine, love, beauty, childish, appearance, sexual, attractive, affection, sadness, optimism, sympathy, confusion, nervousness, timidity. It is dominated by feminine, aesthetic, and emotional themes. We will refer to it as the ‘feminine’ cluster.</li>
                    <li>Cluster 4 is composed of high scores in weapon, fight, military, war, crime, sadness,  prison, power, hate, violence, negative emotion, aggression, pain, politics, and rage. We see it is dominated by themes of aggression, combat, and negative emotions. We will refer to this as the ‘hostile’ cluster.</li>
                </div>
            </div>

        </div>

    </div>

<!-- Sub-section on clustering through time -->

    <div class="content-section-a">

        <div class="container">

<!-- Description of clustering through time -->
            <div class="row">
                <div class="col-lg-12">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Clusters Through Time</h3>
                    <div class="lead">
                        Now that we have defined the clusters, we want to explore each to better understand the characters they are composed of. The adjacent figure describes the 5-cluster case decomposed by gender of the actor and decade of film release. We see from the bottom right aggregate figure that roughly 40% of all characters are female actresses and 60% male. Relative to this baseline we can then see a disproportionate representation of male characters in the business, ambiguous, and hostile cluster. Conversely, women make a larger percentage than the baseline of the feminine and life & community cluster.
                        We hoped to see an evolution of the archetypes through time, but this is largely not the case. There are fluctuations over time but no discernable trends. An exception is once again noted in the early years - female characters being 100% of the hostile cluster - due to the tiny sample size generating the data. 
                    </div> 
                </div>
            </div>

<!-- Visual Clusters Through time -->

            <div class="row">  
                <div class="col-lg-12">
                    <figure>
                        <img src="img/clusters_through_time_vector.png" alt="" width="100%">
                        <figcaption align = "center"><b>Figure 16</b></figcaption>
                    </figure>
                </div>
            </div>

        </div>

    </div>

</section>