<section id="coonclusion">

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Conclusion</h2>
                    <div class="lead">We begin our analysis by analyzing plot summaries for attributes and patient verbs of each character. Attributes here refers to descriptive words associated with each character in the movie plot summaries while patient verbs refers to actions being conducted _on the character_. Each label on the y-axis refers to a group of associated words (example below). In each case all the data is aggregated over male and female characters so that we might understand how plot summaries describe and what type of actions are conducted on each gender. only the top groups are shown for each gender
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>