<section id="initial_findings">
	<!-- Page Content -->

		<div class="content-section-b">

			<div class="container"></div>

				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<br/><br/>
						<!-- <hr class="section-heading-spacer"> -->
						<!-- <div class="clearfix"></div> -->
						<h2 class="section-heading">Data Exploration</h2>
						<br/>
						<div class="lead">We will begin with a few preliminary explorations of our data. There has been a longstanding imbalance in the film industry, with men occupying a larger fraction of representation on screen, often in more distinguished roles. This leads to a simultaneous marginalization and perpetuation of stereotypes via the portrayal of women.</div>
					</div>
				</div>

			</div>
			<!-- /.container -->

		</div>






		<div class="content-section-a">
	
			<div class="container">
	
				<div class="row">
					<div class="col-lg-5 col-sm-6">
						<hr class="section-heading-spacer">
						<div class="clearfix"></div>
						<h3 class="section-heading">Data Exploration</h3>
						<div class="lead"> In Figure 3 above we are displaying the average age at movie release for female and male actors, as well as a linear regression of the average age evolving over time. The shaded areas represent the 95% confidence interval for the regression. We see that there is indeed a difference between the average age of actors and actresses, where actors are on average older than actresses.
						<br/>
						There is also an apparent trend of increasing age, both for actresses and actors. It is unlikely that this is actually the case, but rather there is little age data for older actors at the beginning of the 20th century. Record keeping was not as good as it is now. The younger actors, whome we do have data on, are disproportionately represented in these early years- ie they lived long and late enough in the century to enter modern databases.							
						<br/>
						This reflects a common cinema trope in which women are portrayed by actresses far younger than their male counterparts, even if they’re supposed to be relatively the same age. This trope can reinforce and perpetuate the notion that youth and beauty are of qualities of paramount importance for women, and of less importance for male counterparts. This theme is concurrent with the idea that women have a limited ‘shelf life’ and are less valuble as actresses as they age.</div>
					</div>
					<div class="col-lg-5 col-lg-offset-2 col-sm-6">
						<img class="img-responsive" src="img/Age_Gender_Time.png" alt="">
					</div>
				</div>
	
			</div>
			<!-- /.container -->
	
		</div>
		<!-- /.content-section-a -->

	
	<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Data Exploration</h3>
                    <div class="lead">In Figure 4 below, we depict the proportion of actors by gender through time. Once again we note a disparity in the data - namely that women are less present in cinema than men over the last odd century. We note irregularities in the data in early years (roughly 1880’s-1910’s), as well as the last decade. This is once again due to the tiny samples being drawn from as seen in Figure 1 . The small data sizes available for these early years give rise to wide, irregular outcomes. This disparity of women in cinema leads to a significant limitations on the types of characters they represent and the stories told. Now that we have confirmed there is indeed some surface level imbalances in representation, we will continue to explore further.</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/MFRatio.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
</section>