<section id="introduction">

{% for post in site.posts reversed limit:2 %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <br/>
				<br/>
				<br/>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">

                    <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>

        </div>

    </div>
    {% else %}

    <div class="content-section-b">
    
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    
                    <br/>
					<br/>
					<br/>
					<br/>
                    <br/>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <figure>
                        <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                        <figcaption align = "center"><b>Figure 1</b></figcaption>
                    </figure>
                    <figure>
                        <img class="img-responsive" src="img/services/{{ post.img2 }}" alt="">
                        <figcaption align = "center"><b>Figure 2</b></figcaption>
                    </figure>
                </div>
            </div>

        </div>

    </div>
    {% endif %}
{% endfor %}

    <div class="content-section-a">
        
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Around the cinema in 50 countries</h2>
                    <div class="lead">The dataset consists mainly of movies from the United States, India, Japan, and Western Europe. While this dataset represents a diverse range of cultures and societies from these regions of the world, it is important to note that it is not a comprehensive representation of all areas of the world. The analysis of this dataset will provide insight into the depiction of society in these specific regions, but it may not accurately reflect the portrayal of society in other parts of the world. It is important to consider the limitations of the dataset when using it to study the representation of social issues, cultural norms, and values in these regions, and to recognize that the findings may not be applicable to all areas of the world.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <figure>
                        <iframe src="img/movies_per_country.html" width="100%" height="500" style="border:1px solid black;">
                        </iframe>
                        <figcaption align = "center"><b>Figure 3</b></figcaption>
                    <figure>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">How are main character roles distributed around the globe</h3>
                    <div class="lead">
                        We defined main characters as those which appeared with the highest frequency in the movie summary. a cursory glance at the amount of main characters per gender and region reveals a lopsided distribution. This discrepancy is more pronounced in Eastern Europe (6 to 1 male to female) and Latin America (just over 3 to 1 male to female) while still holding in North America (1.7 to 1) and Western Europe (1.6 to 1).  Overall male actors are the main character in roughly 1800 movies, while female actors in roughly 1000 (1.8 to 1)
                    </div>
                </div>
                
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <figure>
                        <img class="img-responsive" src="img/Table_PCA.jpeg" width="100%" alt="">
                        <figcaption align = "center"><b>Figure 4</b></figcaption>
                    </figure>
                </div>
            </div>

        </div>

    </div>

</section>