<section id="introduction">
<!-- Page Content -->
{% for post in site.posts reversed limit:2 %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">
    
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                  <img class="img-responsive" src="img/services/{{ post.img2 }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>


<!-- <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br/><br/>
      <h2>About CMU Movie Summary Corpus</h2>
      <br/>
        <p>All data comes from the CMU Movie Summary Corpus Datasets. CMU Movie Summary is an open corupus containing 42,306 movie plot summaries 
        extracted from wikipedia, as well as metadeta from Freebase including revenues, genres, release dates, runtimes, languages, character names,
        and actor information. It was compiled by the Language Technologies Institute and Machine Learning Department at Carnegie Mellon University.
        Movie data ranges from 1888 to 2016. The CMU Corpus is publically available <a href="http://www.cs.cmu.edu/~ark/personas/">here</a>.<p>
        <br/>
      </div>
</div> -->