<section id="lexical_field">
    <!-- Page Content -->
        <div class="content-section-a">
    
            <div class="container">
    
                <div class="row">
                    <div class="col-sm-12">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Lexical Field Analysis</h2>
                        <div class="lead">We begin our analysis by analyzing plot summaries for attributes and patient verbs of each character. Attributes here refers to descriptive words associated with each character in the movie plot summaries while patient verbs refers to actions being conducted _on the character_. Each label on the y-axis refers to a group of associated words (example below). In each case all the data is aggregated over male and female characters so that we might understand how plot summaries describe and what type of actions are conducted on each gender. only the top groups are shown for each gender
                        </div>
                    </div>
                </div>


<!-- Patient Verbs -->
                <div> 
                    <div class="col-sm-12">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h3 class="section-heading">Patient Verbs</h3>
                        <div class="lead">In figure 6 here we see patient verbs - actions conducted on each gender. Many of the groups are generic and shared across both genders - so we focus on the differences, subtle as though they may be. For example, women are the subject of kidnapping words far more often than their male counterparts, while men are the subject of arrest at a much higher frequency. 
                            It is interesting to note that the groups appearing the most, for both genders, concern mostly family members or relationship between people, However, we can see that "father" is more often related to a woman than "girlfriend", "girl", "daughter" or even "mother" for a man. This could indicate that a woman is more often defined by or related to masculine relatives than a man is to feminine relatives.
                            </div>
                    </div>
                </div>

<!-- Test Start -->
  
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <img class="img-responsive" src="img/patient_together_vector.png" alt="">
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-lg-5 col-sm-6">
                        <img src="img/patient_separately_vector.png" alt="" width="800">
                    </div>
                </div>

<!-- Agent Verbs -->

                <div class="row">
                    <div class="col-lg-12">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Agent Verbs</h2>
                        <div class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper nisi magna, quis euismod tellus luctus ac. Vivamus finibus est sodales, maximus nisl in, tincidunt sapien. In vitae urna eu sapien lacinia dignissim. Duis hendrerit imperdiet elit sit amet tempor. Nulla cursus sem vel varius finibus. Phasellus nec sem nec mauris cursus sagittis. Quisque malesuada velit augue, quis elementum leo condimentum eu. Integer at suscipit felis. Curabitur ullamcorper ac turpis id aliquam. Sed fringilla massa at ultricies hendrerit. Sed lorem ipsum, maximus quis nunc et, pellentesque maximus tellus.

                            Donec quis diam sagittis, vehicula nibh eget, mattis odio. Morbi vestibulum justo at posuere pellentesque. Nulla vel libero ullamcorper, mollis eros sed, luctus dui. Ut at lorem lacus. Cras non magna egestas, vestibulum est viverra, euismod orci. Pellentesque non suscipit mauris, nec tincidunt ante. Pellentesque auctor purus in erat ullamcorper interdum. Integer eget leo facilisis, rhoncus arcu ac, rhoncus risus. Praesent sed elementum eros, eu hendrerit urna. Nam sed rhoncus lectus. Morbi vestibulum accumsan eros, vel consequat leo blandit ut. Ut quis volutpat massa. Vestibulum euismod sit amet nisl vitae pretium.</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-responsive" src="img/agents_separately_vector.png" alt="">
                    </div>
                </div>

<!-- Attributes -->

                <div class="row">
                    <div class="col-sm-12">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h3 class="section-heading">Attributes</h3>
                        <div class="lead">In figure 7 we see the groups associated with each gender. Once again the most frequent groups are relational and shared between the genders. Discrepancies are of more interest -
                            Categories that appear in the women's common groups and not men include lover, promiscuous, feelings, beautiful, teacher, and body. It is important to note that each of these groups represents a set of words. For example the ‘body’ group seen in the women is composed of the words such as  thigh shivering skin thumb feel touch breast foot muscle shoulder bony stiff clothed ankle crotch frame collarbone. These begin to reveal the story of what descriptors are employed on  female characters in cinema relative to their male counterparts. On the converse, male groups include boss, angy, and police. once again giving clues towards what typecasting occurs by gender. </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <img class="img-responsive" src="img/attributes_together_vector.png" alt="">
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-lg-5 col-sm-6">
                        <img src="img/attributes_separately_vector.png" alt="" width="800">
                    </div>
                </div>
             
            </div>

        </div>

</section>