<section id="lexical_field">
    <!-- Page Content -->
        <div class="content-section-a">
    
            <div class="container">
    
                <div class="row">
                    <div class="col-sm-3">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Lexical Field Analysis</h2>
                        <div class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat eu massa non feugiat. Aliquam rhoncus molestie arcu, ac malesuada nisi sollicitudin nec. Etiam ultricies velit velit. Aenean nec faucibus elit. Pellentesque faucibus ut nisl ut vehicula. Duis gravida nulla ac efficitur venenatis. Cras justo diam, ornare sit amet mauris eget, iaculis ornare lectus.</div>
                    </div>

                    <div class="col-lg-6 col-lg-offset-2 col-sm-6">
                        <iframe src="img/top_descriptors_attributes.png" zoom="0.2" width="100%" height="600" style="border:1px solid black;">
                        </iframe>
                        <!-- <img class="img-responsive" src="img/top_descriptors_attributes.png" alt=""> -->
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-section-a -->
</section>