<section id="pca_analysis">
    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">PCA</h3>
                    <div class="lead">
                        PCA was conducted to determine if the word categories are sufficient in differentiating between genders. The figure 8 shown here graphically represents the separation of m/f characters by the first two primary components.                        
                    </div>
                    <ul style="padding-left:20px">
                        <li>
                            Principle component 1 is able to efficiently separate male and female characters. PC1 is highly positively correlated with groups such as family, wedding, attractive, domestic work, sexual, feminine, beauty, while being highly negatively correlated with groups including money, crime, masculine, prison, aggression, war, and fighting. These extremes separate our characters in two very distinct sets. 
                        </li>
                        <li>
                            Principle component 2 is far less effective (there is more overlap along this dimension). However, it does subtly reveal that the range of word groups associated with men are more diverse than that of women. This is conducive with the theory that representation of women in media is rather limited and women are cast in a flat set of roles.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
				<br/>
				<br/>
                <br/>
				<br/>
                <br/>
				
                    <figure>
                        <img class="img-responsive" src="img/PCA_visualization_vector.png" width="600" height="800" alt="">
                        <figcaption align = "center"><b>Figure 8</b></figcaption>
                    </figure>

                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- Page Content -->


    
</section>