<section id="sentiment_analysis">
    <!-- Page Content -->
    <div class="content-section-a">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">Sentiment Analysis</h3>
                    <div class="lead">
                        In the following visualization (Fig. 112), we compiled bags of words over the entire movie summaries split by gender. All words describing women and men were separately tagged into their group words shown on the vertical axis.The displayed results are normalized to account for the different amount of male and female characters. The results have been sorted in descending frequency for the women's results.
                    </div>
                    
                    <ul style="padding-left:20px">
                        <li>
                            The bag of women for women has much higher relative extremes than that of men. This indicates that women have a narrower range of associated words and could be interpreted as an indicator for the lack of depth in descriptors and actions associated with female characters
                        </li>
                        <li>
                            Conversely, the male distribution is closer to normal, indicting a much broader pool of associated lexical fields and therefore a more broad set of roles, attributes, and actions done by and onto them.
                        </li>
                        <li>
                            Men outscore women in the following groups: death, leader, business, violence, kill, crime, driving, aggression, fight, stealing, prison, war, weapon… This corroborates the results of PC1 in which we saw overlapping terms as having the strongest explanatory coefficient
                        </li>
                    </ul>
                </div>
               
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
				<br/>
				<br/>
                <br/>
				<br/>
                <br/>
                    <figure>
                        <iframe src="img/lexical_field.html" width=600 height=780></iframe>
                        <figcaption align = "center"><b>Figure 12</b></figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>


    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <!-- <hr class="section-heading-spacer"> -->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Alice and Sherlock</h2>
                    <div class="lead">We then generated word clouds based on the same gender-separated bag of words. This time however we visualize the results without discarding low-score groups. This demonstrates the following:</div>
                    <ul style="padding-left:20px">
                        <li>
                            The male bag of words (Fig. 13) displays a larger breadth and more uniform distribution relative to women.
                        </li>
                        <li>
                            Implicitly, women have a narrow and skewed distribution which is evident from the few words and relative larger size of a few groups (Fig. 14).
                        </li>
                    </ul>
                </div>
                
                
            </div>

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <figure>
                        <img src="img/cloud_alice_vector_new.png" alt="" width="150%">
                        <figcaption align = "center"><b>Figure 13</b></figcaption>
                    </figure>
                    
                </div>
                <br/>
                <br/>
                <br/>
                <div class="col-lg-5 col-sm-6">
                    <figure>
                        <img class="img-responsive" src="img/cloud_sherlock_vector.png" alt="">
                        <figcaption align = "center"><b>Figure 14</b></figcaption>
                    </figure>
                    
                </div>
            </div>

        </div>

    </div>

</section>