<div class="content-section-b">

    <div class="container"></div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br/><br/>
                <!-- <hr class="section-heading-spacer"> -->
                <!-- <div class="clearfix"></div> -->
                <h2 class="section-heading">{{ post.title }}</h2>
                <br/>
                <div class="lead">{{ post.content }}</div>
            </div>
        </div>
    </div>
    
    <!-- /.container -->

</div>